.contentContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 6rem;
}
.textContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  color: black;
}
.textContainer * {
  width: fit-content;
}
.title {
  font-size: 1.8rem;
  font-weight: 600;
}
.price {
  font-size: 1.3rem;
  font-weight: 600;
  color: #37b34a;
}
.price:hover {
  text-decoration: underline;
}
.description {
  font-size: 0.9rem;
}
.parametersContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.parameter {
  font-size: 0.9rem;
}
.button {
  margin-top: 1.5rem;
  background: #37b34a;
}
.button:hover {
  background-color: black;
  color: white;
}
