.headerContainer {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: relative;
  z-index: 1;
}
.headerText {
  font-size: 0.9rem;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerText:hover {
  text-decoration: underline;
}
.dropdownItem {
  font-size: 0.8rem;
  font-family: 'Montserrat';
  font-weight: 500;
  color: black;
}
.dropdownItemBox:hover {
  background-color: #37b34a;
}
.dropdownItemBox:hover .dropdownItem {
  color: white;
}
.mobileMenuContainer {
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 4rem;
  border-bottom-left-radius: 0.4rem;
  overflow: hidden;
}
.mobileDropdownItemBox {
  height: 2.2rem;
  background-color: #ededed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.mobileDropdownNestedItemBox {
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.nestedDropdownItem {
  font-size: 0.8rem;
  font-family: 'Montserrat';
  font-weight: 500;
  color: white;
}
